body{
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	background-image: url("fonde.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

h1{
	text-align: center;
	background-color: #2f9f57;
	margin: 0;
	padding: 44px;
	color: #01541d;
}

nav{
	background-color: #1c6436;
	padding: 16px;
}

a{
	color: #ffffff;
	padding: 8px;
}

div{
	background-color: #eaeaea;
	margin: 100px 100px;
}

form{
	padding: 32px 32px;
}

input{
	margin: 32px 16px;
	padding: 8px 28px;
}

h4{
	padding-left: 16px;
	font-size: 24px;
	padding-bottom: 14px;
}

h5{
	padding-left: 16px;
	font-size: 16px;
	padding-top: 14px;
	padding-bottom: 14px;
	background-color: #bbbbbb;
}

img{
	float: right;
	width: 256px;
	padding-right: 32px;
}

.ticket{
	text-align: center;
	background-color: #31e525;
	color: #065709;
	padding: 20px;
}

.boleto{
	background-color: #ffffff;
}

.galerxx{
	text-align: center;
	background-color: #2f9f57;
	margin: 0;
	padding: 50px;
	font-size: 32px;
	color: #01541d;
}

.fxtxs{
	width: 512px;
	float: none;
	padding: 75px;
}

.finxl{
	background-color: #2f9f57;
	margin: 0;
	color: #01541d;
	font-size: 24px;
	padding: 48px;
	text-align: center;
}

.fuerxfxfx{
	padding: 1px;
	padding-right: 16px;
	color: #01541d;
}

@media only screen and (max-width: 836px){

	div{
		margin: 7px 10px;
	}

	img{
		width: 256px;
		height: 256px;
		padding: 16px;
		float: none;
	}

	input{
		margin: 32px 16px;
		padding: 8px 64px;
	}

	button{
		margin: 4px 64px;
	}

	.fxtxs{
		padding-right: 32px;
		padding-bottom: 4px;
		width: 256px;
		height: 128px;
	}

}